:root {
    /* Primary Colors */
    --color-purple: #64108C;
    --color-blue: #227CC7;
    
  
    /* Secondary Colors */
    --color-secondary-blue: #C8DEF1;
    --color-light-blue:#257cc71a;
    --color-light-purple: rgba(101, 16, 140, 0.425);
  
    /* Neutral Colors */
    --color-white: #FFFFFF;
    --color-light-gray: #E6E6E6;
    --color-medium-gray: #A3A3A396;
    --color-dark-gray: #A3A3A3;

    /* red */
    --color-red: #EF4444;
    --color-light-red: #FEE2E2;
  
    /* green */
    --color-green: #22C55E;
    /* Text Colors */
    --color-text-primary: #000000;
    --color-text-secondary: #227CC7;
    --color-text-h2: #002265;
  
    /* Typography */
    --font-family-primary: "Manrope", sans-serif;    
    --font-size-small: 0.8rem;  /*12.8px*/
    --font-size-medium: 1rem;  /*16px*/
    --font-size-large: 1.125rem; /*18px*/
    --font-size-xlarge: 1.5rem; /*24px*/
    --font-size-extra-large: 1.8rem; /*28.8px*/

    /* Font Weights */
    --font-weight-normal: 300;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
  
    /* Spacing */
    --padding-xs:0.25rem;
    --padding-small: 0.5rem;
    --padding-medium: 1rem;
    --padding-large: 1.25rem;
    --padding-extra-large: 1.875rem;

    /* margins */
    --margin-xs:0.25rem;
    --margin-small: 0.5rem;
    --margin-medium: 1rem;
    --margin-large: 1.25rem;
    --margin-extra-large: 1.875rem;
  
    /* Layout */
    --max-width-container: 80%;
    --margin-container: 0 auto;
    
    /* Gap */
    --gap-xs: 0.25rem;
    --gap-small: 0.5rem;
    --gap-medium: 1rem;
    --gap-large: 1.5rem;

    /* Components */
    --border-radius-small: 0.25rem;
    --border-radius-medium: 0.5rem;
    --border-radius-large: 1rem;

    /* Shadows */
    --box-shadow-hard: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    --box-shadow-small: 0px 2px 4px rgba(0, 0, 0, 0.1);
    --box-shadow-medium: 0px 4px 8px rgba(0, 0, 0, 0.1);
    --box-shadow-large: 0px 8px 16px rgba(0, 0, 0, 0.1);

    /* icon sizes*/
    --icon-size-small: 1.5rem;
    --icon-size-medium: 1.8rem;
    --icon-size-large: 2.5rem;

    /* responsive breakpoints*/
    --breakpoint-mobile: 600px;
    --breakpoint-tablet: 768px;
    --breakpoint-desktop: 1200px;
  

    /* Accessibility */
    --focus-ring: 0 0 0 3px #227CC7;
}


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {    
    background-color: var(--color-text-h2);
    font-family: var(--font-family-primary);
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--color-text-primary);
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

input, select, textarea, button{
    appearance: none;
}


header {
    height: 100px;
    background-color:var(--color-white);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;    
    padding-inline: 10vw;
    gap: var(--gap-small);
    /* padding-inline: var(--padding-large); */
}


header button.logout, header a.home {
    /* margin-right: 8vw; */
    appearance: none;
    border:none;
    border-radius: var(--border-radius-medium);
    display: flex;
    align-items: center;
    gap: var(--gap-small);
    padding: var(--padding-small) var(--padding-small);
    background-color: var(--color-blue);
    color: var(--color-white);
    font:inherit;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-normal);
    cursor: pointer;
}

header a.home{
    margin-left: auto;
    padding: calc(var(--padding-small));
    background-color: var(--color-light-blue);    
}

header a.home i{
    color: var(--color-blue);
    font-size: var(--icon-size-medium);
}




nav.desktop {
    align-items: center;
    background-color: var(--color-secondary-blue);                        
    display: flex;
    gap: var(--gap-medium);    
    justify-content: flex-start;
    padding: 0 var(--padding-small);
}

nav.desktop a i{
    color:var(--color-blue);
    font-size: var(--font-size-extra-large);
}
nav.desktop a{
    display: inline-flex;
    text-decoration: none;
    gap: var(--gap-small);
    padding: var(--padding-medium) 0;
    color: var(--color-text-primary);
    font-size: var(--font-size-large);
    align-items: center;
}


nav.desktop a.menu, header a.menu{
    align-items: center;
    margin-right: var(--margin-medium);
    text-decoration: none;
}

nav.desktop a.menu i , header a.menu i{
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 10px 12px;    
    border-radius: 999px;
    font-size: var(--font-size-extra-large);
}


.switch {
    margin-left: auto;
    display: flex;
    background-color: var(--color-white);    
    padding: var(--padding-small);    
    gap: var(--gap-small);
    border-radius: var(--border-radius-medium);
    border: 1px solid #E6E6E6;
    background: var(--color-white);
    box-shadow: var(--box-shadow-small);
    
}
.current__user{
    display: flex;
    gap: var(--gap-small);
    align-items: center;
}

.current__user span{
    display: inline-block;
    padding: var(--padding-medium);
    background-color: var(--color-blue);
    color: var(--color-white);
    border-radius: 9999px;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-medium);
}

.switch > .select__user{    
    width: 100px;    
}

.select__user label{
    color: var(--color-text-secondary);
    font-size: var(--font-size-medium);
}

.switch{
    position: relative;
    display: inline-block;    
}

.switch button{
    border:none;
    background-color: transparent;
    font:inherit;
    font-size: var(--font-size-small);
    cursor: pointer;
    display: flex;    
    align-items: center;
    gap: var(--gap-xs)
}

.switch div#users{    
   display: none;
   position: absolute;
   right: 0px;
   top: 68px;
   background-color: var(--color-white);
   width: 220px;
   box-shadow: var(--box-shadow-large);
   z-index: 1;
   padding:var(--padding-small);
   border-radius: var(--border-radius-small);
}

.switch:focus div#users,
.switch:focus-within div#users {
    display: block;
}


div#users a{
    padding: var(--padding-small);
    border-radius: var(--border-radius-small);
    display: flex;
    font-size: var(--font-size-medium);
    align-items: center;
    gap:var(--gap-small);
    transition: all 0.2s ease;
    color: var(--color-text-primary);
    text-decoration: none;
}
div#users a i{
    font-size: var(--font-size-medium);
    color: var(--color-blue);
}
div#users a:hover{    
    background-color: #227CC7;
    color: white;
}

div#users a:hover i{
    color: white;
}

div#users hr{
    
    border-width: 1px;
    border-style: solid;
    border-color:var(--color-light-gray);
    margin-block: var(--margin-small);
}





main {
    width: 80%;            
    margin: 0 auto;
    background-color: var(--color-white);     
    position: relative;          
    flex-grow: 1;
    
    display: flex;
    flex-direction: column;
}

.container {    
    padding-inline: 2%;
    padding-bottom: 2%;
    flex: 1;
    display: flex;    
    flex-direction: column;
    
}

.welcome__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.welcome__row a.btn{
    min-width: 0;
    text-decoration: none;
}

.welcome__row a.btn i{
    font-size: var(--font-size-xlarge);
}




.welcome__row p{
    font-size: var(--font-size-medium);
}

.welcome__row p > i{
    color: var(--color-blue);
    font-size: var(--font-size-large);
}

.welcome {
    color: var(--color-blue);
    margin-block: var(--margin-small);
    font-weight: var(--font-weight-medium);    
    font-size: clamp(1.2rem, 0.7745rem + 1.3617vw, 2rem);
    line-height: 2;
}

.navLinkClass {
    color: #1E1E1E;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    /* 112.5% */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


 /* Dialog Styling */
 .menu-dialog {
    width:90%;        
    background: var(--color-white);
    position: absolute;
    top: -100%;
    left: 5%;
    margin: auto;
    transition: top 0.3s ease;
    z-index: 999;
    border-radius: var(--border-radius-medium);
    padding: var(--padding-large);
    display: none;
}

.menu-dialog.open {
    top:5%;    
    left: 5%;
    display: block;
}


/* Backdrop styling */
.dialog-backdrop {
    position: absolute;
    inset:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    z-index: 998;
    display: none;
}

.dialog-backdrop.open{
    display: block;
}

/* Close button for the dialog */
.close-dialog {
    font-size: calc(--font-size-medium);
    cursor: pointer;
    position: absolute;
    top: 3px;
    right: 1%;        
    border-radius: 999px;
    padding: var(--padding-small) var(--padding-medium);
    display: flex;
    align-items: center;
    gap:var(--gap-xs);
    justify-content: center;
}

.close-dialog span{
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-small);
}



.menu-links {   
    padding: 0;
    display: grid;
    margin-top: var(--margin-large);
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: var(--gap-medium);
}



.menu-links a {
    text-decoration: none;    
    display: flex;   
    flex-direction: column; 
    align-items: center;
    justify-content: space-evenly;
    border:1px solid rgba(240, 240, 240, 0.70);    
    height: 124px;    
    border-radius: var(--border-radius-medium);
    transition: background-color 0.5s ease;    
}
.menu-links a:hover{
    background-color: #e6e6e68c;
}

.menu-links span.icon {    
    width:60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--color-light-gray);
    border-radius: 9999px;    
    transition: all 0.3s ease;
}



.menu-links span.icon i{
    font-size: var(--font-size-xlarge);
    color: var(--color-purple);
    animation: icon-spin 0.3s ease-out infinite ;
    animation-play-state: paused; 
}

.menu-links a:hover span > i, 
.menu-links a:focus span > i{
    animation-play-state: running;
}

@keyframes icon-spin {
   
    50% {
        transform: rotateZ(-10deg) scale(1.2);
    }

    
}

.menu-links span.text{
    flex-basis: 20%;
    text-align: center;
    font-size: 12px;
    font-weight: 800;
    color: var(--color-purple);
    padding: 0 var(--padding-xs);    
}





.--desktop{
    display: flex;
}


.--mobile{
    display: none;
}


.btn{    
    border: none;
    border-radius: var(--border-radius-small);    
    font: inherit;    
    cursor: pointer;
    min-width: 6ch;
    color: var(--color-white);
    padding: var(--padding-small) var(--padding-medium);
    font-weight: var(--font-weight-medium);
}

.btn.primary{
    background-color: var(--color-purple);
    font-weight: normal;
}

.btn.primary.variant2{
    background-color: var(--color-white);
    border: 1px solid var(--color-purple);
    color: var(--color-purple);
}


.btn.secondary{
    background-color: var(--color-light-blue);
    font-size: var(--font-size-medium);
    color: var(--color-blue);        
}


.btn.secondary.danger,
.btn.secondary.notDanger{
    background-color: var(--color-light-red);
    color: var(--color-red);
    display:inline-flex;    
    gap: var(--gap-small);
    align-items: center;
}

.btn.secondary.notDanger{
    background-color: var(--color-green);    
}


.pill{
    display: flex;
    gap:var(--gap-xs);
    align-items: center;
    appearance: none;
    font:inherit;
    background-color: var(--color-white);
    border:none;
    border-radius: 999px;
    background-color: var(--color-light-gray);
    padding: var(--padding-xs) var(--padding-small);
    padding-right: var(--padding-medium);
    font-size: var(--font-size-small);
    cursor: pointer;
    letter-spacing: 1px;    
    text-transform: uppercase;

}

.pill i{
    font-size: var(--font-size-medium);
}

.pill.cancel{
    background-color: var(--color-light-red);
    color: var(--color-red);
}



@media (max-width: 1200px) {
    .--mobile{
       display: flex;
   }

   

   .desktop .--desktop, 
   .--desktop{
       display: none;
   }

   .mobile__nav{        
       background-color: var(--color-white);
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
       gap: var(--gap-small);       
       align-items: stretch;
   }

   .container nav.mobile__nav{
       margin: 0 0 var(--margin-large) 0;
       padding: 0;
       min-height: auto;
   }

   .mobile__nav > a {
       display: flex;
       align-items: center;
       border:2px solid var(--color-blue);
       border-radius: var(--border-radius-small);
       padding: var(--padding-small) var(--padding-small);
       gap: var(--gap-small);
       font-size: var(--font-size-medium);
       text-decoration: none;
       color: var(--color-black);
       flex: 1;
   }
}


@media (max-width: 860px) {
    main{
        width: 100%;
    }

    header{
        padding-inline: var(--padding-small);
        justify-content: space-between;
    }

    .switch{
        margin: 0;
    }

    nav.desktop{
        justify-content: space-around;
    }

    nav.desktop a {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: var(--font-size-medium);
    }

}

@media (max-width: 768px) {
    header img.logo, header button.logout{
        margin: 0;
        max-width: 100%;
    }
}


@media (max-width: 540px) {
    .mobile__nav{
        grid-template-columns: 1fr 1fr;
    }

    header .logout span{
        display: none;
    }

    .menu-dialog.open{
        top:2%
    }
    .welcome__row{
        
        align-items:center;
        gap:0;
        padding-block: 8px;
    }
    .welcome__row h1{
        margin: var(--margin-small) 0;
    }

    .welcome__row button {
        display: none;
    }

    nav.desktop a {
        font-size: var(--font-size-small);
        gap: var(--gap-xxs);
    }

    .portalCommonButtonsBlock{
        padding: 28px 32px 25px 32px !important;
    }

}

.portalCommonEmptyBtnClass{
    border-radius: 8px;
    border: 1px solid #64108C;
    padding: 12px 24px;
    background-color: transparent;
    color: #64108C;
    text-align: center;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}
.portalCommonFillBtnClass{
    border-radius: 8px;
    background: #64108C;
    padding: 12px 24px;
    color: #FFF;
    text-align: center;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    border: 1px solid #64108C;
}
.portalCommonButtonsBlock{
    display: flex;
    padding: 58px 0px 43px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    column-gap: 20px;
    row-gap: 16px;
    background: #EBF3FA;
    flex-wrap: wrap;
}
.portalCommonPrintBtnClass{
    border-radius: 8px;
    border: 1px solid #1E1E1E;
    padding: 12px 24px;
    color: #1E1E1E;
    text-align: center;
    font-family: Manrope;
    font-size: 18px;
    background-color: transparent;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.portalCommonViewCommentsBtnClass{
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #64108C;
    background-color: transparent;
}
.portalCommonViewCommentsBtnClass span{
    color: #64108C;
    text-align: center;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.card_right_btn_block{
    display: flex;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
}
.declinedToReasonDefaultClass{
    border-radius: 16px;
    max-width: 460px;
    background: #FFF;
    display: flex !important;
    flex-direction: column;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.10);
    position: fixed;
    width: 460px;
    top: -900px;
    left: 50%;
    transform: translateX(-50%);
}
.therapyInfoDialogDefaultClass{
    border-radius: 16px;
    max-width: none !important;
    width: 77% !important;
    background: #FFF;
    display: flex !important;
    flex-direction: column;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.10);
    position: fixed;
    width: 460px;
    top: -900px;
    left: 50%;
    transform: translateX(-50%);
}

.therapyInfoDialogClass{
    border-radius: 0px;
    top: 115px !important;
}
.therapyInfoDialogClass,
.declinedToReasonClass{
    top: 300px;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease-in;
}

.therapyInfoDialogClass .declinedToReasonHeaderClass{
    border-radius: 0px;
}
.declinedToReasonHeaderClass{
    width: 100%;
    border-radius: 16px 16px 0px 0px;
    background: #257CC7;
    padding: 13px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.declinedToReasonHeaderTitleClass{
    color: #FFF;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.therapyInfoDialogClass .declinedToReasonBodyClass{
    padding: 31px 19px 38px 19px;
    gap: 28px;
}
.therapyInfoDialogClass .easyFormsViewClass{
    padding: 0px !important;
}
.declinedToReasonBodyClass{
    padding-top: 43px;
    padding-bottom: 50px;
    padding-left: 33px;
    padding-right: 28px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.declinedToReasonBodyClass .search_easyforms{
    display: flex;
    align-items: center;
    gap: 17px;
    flex-wrap: wrap;
}
.declinedToReasonBodyMainClass{
    display: flex;
    justify-content: space-between;
}
.declinedToReasonInputClass input{
    border-radius: 4px;
    border: 1px solid rgba(30, 30, 30, 0.60);
    opacity: 0.8;
    padding: 20px;
    width: 100%;
    outline: none;
}
.declinedToReasonInputClass input:focus{
    outline: none !important;
}
.declinedToReasonBodyTitleClass{
    color: #1E1E1E;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 14px */
    letter-spacing: 0.7px;
    text-transform: uppercase;
    opacity: 0.5;
}
.declinedToReasonBodySubTitleClass{
    color: #002265;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 14px */
}
.therapyInfoDialogClass .declinedToReasonButtonBlockClass{
    padding-bottom: 40px;
}
.declinedToReasonButtonBlockClass{
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

@media (max-width:600px) {
    .therapyInfoDialogClass{
        width: 95% !important;
    }
    .declinedToReasonBodyClass .search_easyforms{
        justify-content: center !important;
    }
}