<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Portal</title>
    
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
        }
    </style>
    <link rel="stylesheet" href="./styles.css">
    
</head>
<body  ng-controller="myController" ng-cloak>
    <header>
        <a href="#0" class="menu --mobile" ng-click="openDialog()">
            <i class="ri-menu-line"></i>
        </a>             

        <a href="/portal-prototype/index.html"><img src="./images/ClientLogo.png" class="logo" alt=""></a>
      
        <button class="switch">
            <div class="current__user">
                <span>TM</span>
                <i class="ri-arrow-down-s-line"></i>
            </div>  
            <div id="users">                            
                <a href="#"><i class="ri-user-line"></i> Matthew Wishmonger</a>
                <a href="#"><i class="ri-user-line"></i>Toby Barlow </a>
                <a href="#"><i class="ri-user-line"></i> Roger Ferguson</a>
                <a href="#"><i class="ri-user-line"></i> Hector Gobble</a>            
                <hr>
                <a href="#"><i class="ri-logout-box-r-line"></i>Logout</a>            

            </div>             
        </button>
    </header>
    
    <main>
        <nav class="desktop">
            <a href="#0" class="menu --desktop" ng-click="openDialog()">
                <i class="ri-menu-line"></i> Menu
            </a>             
            <a href="#"><i class="ri-survey-line"></i>Forms to Complete</a>            
            <a href="#"><i class="ri-hourglass-line"></i>Clinical Screening Dues</a>
            <a href="#"><i class="ri-flask-line"></i>Lab Results</a>
            <a href="#"><i class="ri-medicine-bottle-line"></i>Request Rx Refill</a>            
           
        </nav>

        

        <section class="container" id="container">
            <div class="welcome__row">
                <h1 class="welcome">Welcome</h1>
                <p>
                    <i class="ri-user-3-line"></i>
                    Your Provider: <span>Amy Smith, LCSW</span>
                </p>
            </div>

            

            <div class="cards">
                <div class="card">
                    <h2 class="card__header">
                        <i class="ri-calendar-line"></i>
                        View and Schedule Appointments
                    </h2>
                   

                   <div class="card__content">
                       <strong>Upcoming appointment</strong>
                       <div class="apptcard">
                            <div class="row">
                                <div class="date">
                                    <span>{{myData.appointments.Date.month}}</span>
                                    <span>{{myData.appointments.Date.day}}</span>
                                    <span>{{myData.appointments.Date.year}}</span>                                    
                                </div>
                                <div class="time">
                                    <span>12:00</span>
                                    <span>PM</span>
                                </div>
                                <div class="details">
                                    <strong>{{myData.appointments.Service}}</strong>
                                    <span>{{myData.appointments.Provider}}</span>
                                    <span>{{myData.appointments.Program}}</span>                                    
                                </div>
                              
                            </div>
                            <div class="row">
                                <div class="icon"><i class="ri-video-on-line"></i></div>
                                <div class="link">
                                    <a href="{{myData.appointments.Link}}">
                                        Meeting link
                                    </a>
                                </div>
                            </div>
                            <div class="buttons">
                                <button class="reschedule pill" ng-click="replaceContent('container', 'reschedule.html')"><i class="ri-forward-5-line"></i> Reschedule</button>                                
                                <button class="cancel pill" popovertarget="cancelAppt"  popovertargetaction="show"><i class="ri-close-line"></i> Cancel</button>
                            </div>
                       </div>
                   </div>

                   <div class="card__footer">
                       <button class="btn primary" ng-click="replaceContent('container', 'bookAppointment.html')">Book New Appointment</button>
                       <button class="btn primary variant2" ng-click="replaceContent('container', 'allAppts.html')">View All Appointments</button>
                   </div>

                </div>
                <div class="card">
                    <h2 class="card__header">
                        <i class="ri-chat-1-line"></i>
                        View and Send Messages
                    </h2>

                   <div class="card__content">
                       <ul class="messages">
                            <li tabindex="0">
                                <i class="ri-notification-2-line"></i>
                                <div>
                                    <strong>{{myData.messages[0].header}} <span>{{myData.messages[0].date}}</span></strong>
                                    <span>{{myData.messages[0].bodytext}}</span>                                    
                                </div>
                            </li>
                            <li class="read" tabindex="0">
                                <i class="ri-group-line"></i>
                                <div>
                                    <strong>{{myData.messages[1].header}} <span>{{myData.messages[1].date}}</span></strong>
                                    <span>{{myData.messages[1].bodytext}}</span>                                    
                                </div>
                            </li>
                            <li class="read" tabindex="0">
                                <i class="ri-calendar-line"></i>
                                <div>
                                    <strong>{{myData.messages[2].header}} <span>{{myData.messages[2].date}}</span></strong>
                                    <span>{{myData.messages[2].bodytext}}</span>                                    
                                </div>
                            </li>
                       </ul>
                   </div>

                   <div class="card__footer">
                       <button class="btn primary">Send Message</button>
                       <button class="btn primary variant2">View All</button>
                   </div>
                </div>
                <div class="card">
                    <h2 class="card__header insurance">
                        <i class="ri-shield-line"></i>
                        Insurance Details
                        <div class="icons">
                            <button><i class="ri-list-unordered"></i></button>
                            <button><i class="ri-add-fill"></i></button>
                            <button><i class="ri-file-edit-line"></i></button>
                        </div>
                    </h2>

                   <div class="card__content">
                       <ul class="list">
                            <li><span>Health Plan:</span> <span>{{myData.insurance.HealthPlan}}</span></li>
                            <li><span>Policy Number:</span> <span>{{myData.insurance.PolicyNumber}}</span></li>
                            <li><span>Relation To Insured:</span> <span>{{myData.insurance.RelationToInsured}}</span></li>
                            <li><span>Start Date:</span> <span>{{myData.insurance.StartDate}}</span></li>
                            <li><span>End Date:</span> <span>{{myData.insurance.EndDate}}</span></li>
                            <li><span>Insurance Sequence:</span> <span class="primaryinsurance">{{myData.insurance.InsuranceSequence}}</span> </li>
                       </ul>
                   </div>                 
                </div>                            
                <div class="card bills">
                    <h2 class="card__header">
                        <i class="ri-money-dollar-circle-line"></i>
                        View and Pay Bills
                    </h2>

                   <div class="card__content">
                       <label for="">
                         You have a balance due of: 
                         <span ng-bind="myData.bills.dueAmount"></span>
                       </label>
                       <div class="buttons">
                           <button class="btn primary"> Pay Your Bill</button>
                           <button class="btn primary variant2"> View Your Statement</button>
                       </div>
                   </div>

                    <div class="card__footer">
                       <p>If you have any questions about your balance, please send us a <a href="#" target="_blank">message</a>  or contact us at (555) 555-5555.</p>                        
                   </div>
                </div>
            </div>
        </section>

        
        

    <div class="dialog-backdrop" ng-class="{'open': isDialogOpen}" ng-click="closeDialog()"></div>
    <div class="menu-dialog" ng-class="{'open': isDialogOpen}">
        <span class="close-dialog" ng-click="closeDialog()">
            <i class="ri-close-large-fill"></i> <span>Close</span>
        </span>
        <div class="menu-links">
            <a href="#">
                <span class="icon"><i class="ri-calendar-line"></i></span>
                <span class="text">All Appointments</span>
            </a>
            <a href="#">
                <span class="icon"><i class="ri-calendar-event-line"></i></i></span>
                <span class="text">Book New Appointment</span>
            </a>
            <a href="#">
                <span class="icon"><i class="ri-file-3-line"></i></span>
                <span class="text">Documents</span>
            </a>
            <a href="#">
                <span class="icon"><i class="ri-shield-line"></i></span>
                <span class="text">Insurance Policies</span>
            </a>
            <a href="#">
                <span class="icon"><i class="ri-pen-nib-fill"></i></span>
                <span class="text">Froms to Sign</span>
            </a>
            <a href="#">
                <span class="icon"><i class="ri-bank-card-line"></i></span>
                <span class="text">Credit Cards</span>
            </a>
            <a href="#">
                <span class="icon"><i class="ri-survey-line"></i></span>
                <span class="text">Forms to Complete</span>
            </a>
            <a href="#">
                <span class="icon"><i class="ri-survey-fill"></i></i></span>
                <span class="text">Completed Forms</span>
            </a>
            <a href="#">
                <span class="icon"><i class="ri-group-2-line"></i></span>
                <span class="text">Cosign Forms</span>
            </a>
            <a href="#">
                <span class="icon"><i class="ri-chat-1-line"></i></span>
                <span class="text">Messages</span>
            </a>
            <a href="#">
                <span class="icon"><i class="ri-checkbox-multiple-line"></i></span>
                <span class="text">Patient Choices</span>
            </a>
            <a href="#">
                <span class="icon"><i class="ri-contacts-line"></i></span>
                <span class="text">Contacts</span>
            </a>
            <a href="#">
                <span class="icon"><i class="ri-feedback-line"></i></span>
                <span class="text">My Complaints</span>
            </a>
            <a href="#">
                <span class="icon"><i class="ri-money-dollar-circle-line"></i></span>
                <span class="text">Billing</span>
            </a>
            <a href="#">
                <span class="icon"><i class="ri-folder-user-line"></i></span>
                <span class="text">Demographics</span>
            </a>
            <a href="#">
                <span class="icon"><i class="ri-bill-line"></i></span>
                <span class="text">Ledger</span>
            </a>
            <a href="#">
                <span class="icon"><i class="ri-upload-cloud-line"></i></span>
                <span class="text">Upload Documents</span>
            </a>
            <a href="#">
                <span class="icon"><i class="ri-capsule-fill"></i></span>
                <span class="text">Current Medicines</span>
            </a>
            <a href="#">
                <span class="icon"><i class="ri-video-on-line"></i></span>
                <span class="text">Zoom Meetings</span>
            </a>
        </div>
    </div>

    <div popover id="bookApptConfirm">                
        <i class="ri-checkbox-circle-line"></i>
        <p>New appointment scheduled successfully</p>
        <button class="btn secondary" popovertarget="bookApptConfirm"  popovertargetaction="hide">Close</button>
    </div>
     
    <div popover id="cancelAppt">                
        <i class="ri-alert-line"></i>
        <p>Are you sure you want to cancel this appointment? </p>
        <div class="card__footer">
            <button class="btn secondary danger" popovertarget="cancelAppt"  popovertargetaction="hide">Yes</button>
        <button class="btn secondary" popovertarget="cancelAppt"  popovertargetaction="hide">No</button>
        </div>
    </div>


    </main>

    

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js" type="text/javascript"></script>
    <script src="./app.js" type="text/javascript"></script>
</body>
</html>