*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #64108C;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    scroll-behavior: smooth;
}

header {
    height: 100px;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 3vw;
}

header img.logo {
 margin-left: 8vw;
}

header button.logout {
    margin-right: 8vw;
    appearance: none;
    border:none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px 10px;
    background-color: #227CC7;
    color: white;
    font:inherit;
    font-size: 1rem;
    cursor: pointer;
}
 

main {
    width: 80%;            
    margin: 0 auto;
    background-color: white;     
    position: relative;      
    overflow: hidden; 
}

nav {
    background-color: #C8DEF1;                        
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    min-height: 81px;
    padding: 0 2%;
}
nav i{
    color:#227CC7;
    font-size: 1.8rem;
}
nav a{
    display: inline-flex;
    text-decoration: none;
    gap: 15px;
    padding: 10px;
    color: black;
    font-size: 1.1rem;
}

nav a.menu{
    align-items: center;
}

nav a.menu i {
    background-color: #227CC7;
    color: white;
    padding: 10px 12px;
    border-radius: 999px;
    font-size: 2rem;
}


nav .switch {
    margin-left: auto;
    display: flex;
    background-color: white;
    margin-top: 8px;
    padding: 8px;    
    gap: 8px;
    border-radius: 3px;
    border: 1px solid #E6E6E6;
    background: var(--Schemes-On-Primary, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.current__user span{
    display: inline-block;
    padding: 10px;
    background-color: #227CC7;
    color: white;
    border-radius: 999px;
    font-weight: 500;
}

.switch > .select__user{
    display: flex;
    flex-direction: column;
    width: 100px;
}

.select__user label{
    color: #227CC7;
    font-size: 1rem;
}

.select__user select{    
    border: none;
    font:inherit;
    font-size: 1rem;
    cursor: pointer;    
}

.select__user select option{
    font-size: 1rem;
    border-radius: 0;
}



.container {    
    padding-inline: 2%;
    padding-bottom: 2%;    
}

.welcome__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 425px) {
    .welcome__row{
        flex-direction: column;
        align-items: flex-start;
        gap:0;
        padding-block: 8px;
    }
    .welcome__row h1{
        margin: 0 0;
    }
}



.welcome__row p{
    font-size: 16px;
}

.welcome__row p > i{
    color: #227CC7;
    font-size: 1.5rem;
}

.welcome {
    color: #227CC7;
    margin-block: 0.2em;
    font-weight: 500;    
}

.cards {
    
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    flex-grow: 1;
    
}

.cards > .card {            
    min-height: 250px;
    flex: 1 0 auto;
    width: calc(50% - 30px);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 8px;
    box-shadow: 0px 10px 5px -5px #a3a3a396;
    border: 1px solid #a3a3a396;
    border-radius: 4px;
    padding: 14px;
}   



.card > .card__header{
    font-weight: normal;
    color: #227CC7;
    font-size: 24px;
    display: flex;
    gap: 15px;
    align-items: center
}

.card__header >i{
    font-size: 2.5rem;
}

.card > .card__content{
    flex: 1;
}


.card__content > strong{
    font-size: 20px;
    padding-bottom: 8px;
    display: inline-block;
    font-weight: 500;
}

.apptcard{
    display: flex;
    flex-direction: column;            
    border: 1px solid #a3a3a396;
    padding: 8px;
    margin-block: 4px;
    gap: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.apptcard > .row{
    display: flex;
    justify-content: flex-start;            
    align-items: flex-start;
    gap: 20px;
}

.apptcard > .row + .row{
    padding-top: 8px;
    border-top: 1px solid #a3a3a396;
}

.apptcard .date,  
.apptcard .details {
    display: flex;
    flex-direction: column;
    
}

.apptcard .date{
    text-align: center;
    color: #227CC7;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1;
    margin-top: 4px;
}

.date span:nth-child(2){
    font-weight: bold;
    font-size: 22px;
}

.details strong{
    font-size: 20px;
    font-weight: 500;
}

.details span{
    font-size: 16px;
}

.apptcard .link{
    font-size: 0.9rem;
}

.apptcard .icon{
    width: 37px;}
.apptcard .icon i{
    font-size: 1.8rem;
    color:#227CC7
}



ul.messages{
    list-style-type: none;
}

ul.messages li{
    display: flex;
    padding: 8px 12px;
    gap: 16px;
    border-radius: 4px;
    border: 1px solid #E6E6E6;
    margin-bottom: 8px;
    align-items: self-start;
}

ul.messages li:first-child{
    background-color: rgba(37,124,199,0.1);
}

ul.messages li i{
    background-color:#64108C;
    color: white;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 999px;
    width: 40px;
    height: 40px;
}
ul.messages li > div{
    flex: 1;
}
ul.messages li strong{
    color:#227CC7;
    display: flex;
    justify-content: space-between;    
    font-size: 18px;
    width: 100%;
    margin-bottom: 3px;
}


ul.messages li.read strong,
ul.messages li.read strong + span{
    font-weight: 400;
}

ul.messages li strong > span{
    color: black;
    font-size: 12px;
    margin-left: auto;
}

ul.messages li strong + span{
    font-weight: bold;
    font-size: 12px;    
    line-height: 1.2;
    overflow: hidden;    
    display: block;
    width: 100%;
}



.insurance span{
    margin-left: auto;
    display: flex;
    gap: 15px;
}


.card  ul.list{
    list-style-type: none;

}

ul.list li{
    display: flex;
    justify-content: flex-start;
    padding: 0.3rem;
    font-size: 1rem;
    font-weight: 500;
}

ul.list li span {
    flex: 1;
}



.card  button{
    background-color: #64108C;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font: inherit;
    font-size: 0.9rem;
    cursor: pointer;
}

.card p{
    font-size: 16px

}

.card__footer{
    display: flex;
    justify-content: center;
    gap:4px;
}


.bills .card__content label{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}



.bills .buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;
    margin-top: 20px;
}

.bills .buttons button{
    width:50%;
}


.--desktop{
    display: flex;
}


.--mobile{
    display: none;
}

 /* Dialog Styling */
 .menu-dialog {
    width:90%;    
    
    background: white;
    position: absolute;
    top: -100%;
    left: 5%;
    margin: auto;
    transition: top 0.3s ease;
    z-index: 999;
    border-radius: 8px;
    padding:20px;
}

.menu-dialog.open {
    top:5%;    
    left: 5%;
}


/* Backdrop styling */
.dialog-backdrop {
    position: absolute;
    inset:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    z-index: 998;
}

/* Close button for the dialog */
.close-dialog {
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: -12px;
    right: 5%;    
    background-color: white;
    border-radius: 999px;
    padding:8px 16px;
    display: flex;
    align-items: center;
    gap:8px;
    justify-content: center;
}

.close-dialog span{
    font-weight: 500;
    font-size: 12px;
}


/* List of links inside the dialog */
.menu-links {   
    padding: 0;
    display: grid;
    margin-top:20px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
}



.menu-links a {
    text-decoration: none;    
    display: flex;   
    flex-direction: column; 
    align-items: center;
    justify-content: space-evenly;
    border:1px solid rgba(240, 240, 240, 0.70);    
    height: 124px;    
    border-radius: 8px;
    transition: background-color 0.5s ease;    
}
.menu-links a:hover{
    background-color: #e6e6e68c;
}

.menu-links span.icon {    
    width:60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #a3a3a320;
    border-radius: 9999px;    
    transition: all 0.3s ease;
}



.menu-links span.icon i{
    font-size: 1.5rem;
    color: #64108C;
    animation: icon-spin 0.3s ease-out infinite ;
    animation-play-state: paused; 
}

.menu-links a:hover span > i, 
.menu-links a:focus span > i{
    animation-play-state: running;
}

@keyframes icon-spin {
   
    50% {
        transform: rotateZ(-10deg) scale(1.2);
    }

    
}

.menu-links span.text{
    flex-basis: 20%;
    text-align: center;
    font-size: 12px;
    font-weight: 800;
    color: #64108C;
    padding: 0 3px;    
}





@media (max-width: 1200px) {
     .--mobile{
        display: flex;
    }

     .--desktop{
        display: none;
    }

    .mobile__nav{        
        background-color: white;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap:2%;        
        align-items: stretch;
    }

    .container nav.mobile__nav{
        margin: 0 0 20px 0;
        padding: 0;
        min-height: auto;
    }

    .mobile__nav > a {
        display: flex;
        align-items: center;
        border:2px solid #227CC7;
        border-radius: 4px;
        padding: 8px 12px;
        gap: 8px;
        font-size: .9rem;
        text-decoration: none;
        color: black;
        flex: 1;
    }

    .cards {        
        gap: 20px;
        
    }

    .bills .buttons button{
        width:80%;
    }

}

@media (max-width: 860px) {
    main{
        width: 100%;
    }
}

@media (max-width: 768px) {
    header img.logo, header button.logout{
        margin: 0;
    }
}

/* Media query for mobile screens */
@media (max-width: 600px) {

    .cards {
        flex-direction: column;
        row-gap: 20px;
        column-gap: 0px;                
    }
    .cards > .card {
        width: auto; 
    }

         
}

@media (max-width: 540px) {
    .mobile__nav{
        grid-template-columns: 1fr 1fr;
    }

    header .logout span{
        display: none;
    }

    .menu-dialog.open{
        top:2%
    }
}