<!DOCTYPE html>
<html lang="en" ng-app="tabApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="../base.css">
    <link rel="stylesheet" href="./formsToComplete.css">

    <title>Forms To Complete</title>
</head>

<body ng-controller="TabController">
    <header class="portalCommonHeaderClass">
        <a href="#0" class="menu --mobile" ng-click="openDialog()">
            <i class="ri-menu-line"></i>
        </a>

        <a href="../index.html"><img src="../images/ClientLogo.png" class="logo" alt=""></a>

        <!-- <button class="logoutBtnClass">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V5C3 4.46957 3.21071 3.96086 3.58579 3.58579C3.96086 3.21071 4.46957 3 5 3H9M16 17L21 12M21 12L16 7M21 12H9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                Log Out
        </button> -->
        <button class="switch" style="margin: 0px !important;">
            <div class="current__user">
                <!-- <span>TM</span> -->
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="40" height="40" rx="20" fill="#257CC7"/>
                    <path d="M12.993 25.5V16.799H9.64V15.42H17.809V16.799H14.456V25.5H12.993ZM18.9292 25.5V15.42H20.2522L23.9062 23.001L27.5392 15.42H28.8762V25.493H27.4902V18.598L24.2352 25.5H23.5702L20.3082 18.598V25.5H18.9292Z" fill="white"/>
                </svg>

                <div class="profileSwitchButton">
                    <h5>Alexander</h5>
                    <div style="display: flex;align-items: center;gap: 4px;">
                        <h6>Switch</h6>
                        <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 11.75L5.25 8H12.75L9 11.75Z" fill="#1D1B20"/>
                        </svg>                                    
                    </div>
                </div>
            </div>
            <div id="users">
                <a href="#"><i class="ri-user-line"></i> Matthew Wishmonger</a>
                <a href="#"><i class="ri-user-line"></i>Toby Barlow </a>
                <a href="#"><i class="ri-user-line"></i> Roger Ferguson</a>
                <a href="#"><i class="ri-user-line"></i> Hector Gobble</a>
                <hr>
                <a href="#"><i class="ri-logout-box-r-line"></i>Logout</a>

            </div>
        </button>
        
    </header>
    <main id="formsToCompleteId">
        <nav class="desktop" style="justify-content: space-between;">
            <div class="navLinksMainClass">
                <a href="#0" class="navLinkMenuClass" ng-click="openDialog()">
                    <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="25" cy="25" r="25" fill="#257CC7"/>
                        <path d="M13.75 25H36.25M13.75 17.5H36.25M13.75 32.5H36.25" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <div class="navLinkClass">Menu</div>
                        
                        
                </a>
                <a href="./formsToComplete.html" class="">
                    <svg width="40" height="40" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_1085_924)">
                        <path d="M8.5 5H6.5C5.96957 5 5.46086 5.21071 5.08579 5.58579C4.71071 5.96086 4.5 6.46957 4.5 7V19C4.5 19.5304 4.71071 20.0391 5.08579 20.4142C5.46086 20.7893 5.96957 21 6.5 21H12.197" stroke="#257CC7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M18.5 14V18H22.5" stroke="#257CC7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M18.5 11V7C18.5 6.46957 18.2893 5.96086 17.9142 5.58579C17.5391 5.21071 17.0304 5 16.5 5H14.5" stroke="#257CC7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M8.5 5C8.5 4.46957 8.71071 3.96086 9.08579 3.58579C9.46086 3.21071 9.96957 3 10.5 3H12.5C13.0304 3 13.5391 3.21071 13.9142 3.58579C14.2893 3.96086 14.5 4.46957 14.5 5C14.5 5.53043 14.2893 6.03914 13.9142 6.41421C13.5391 6.78929 13.0304 7 12.5 7H10.5C9.96957 7 9.46086 6.78929 9.08579 6.41421C8.71071 6.03914 8.5 5.53043 8.5 5Z" stroke="#257CC7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M14.5 18C14.5 19.0609 14.9214 20.0783 15.6716 20.8284C16.4217 21.5786 17.4391 22 18.5 22C19.5609 22 20.5783 21.5786 21.3284 20.8284C22.0786 20.0783 22.5 19.0609 22.5 18C22.5 16.9391 22.0786 15.9217 21.3284 15.1716C20.5783 14.4214 19.5609 14 18.5 14C17.4391 14 16.4217 14.4214 15.6716 15.1716C14.9214 15.9217 14.5 16.9391 14.5 18Z" stroke="#257CC7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M8.5 11H12.5" stroke="#257CC7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M8.5 15H11.5" stroke="#257CC7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_1085_924">
                        <rect width="24" height="24" fill="white" transform="translate(0.5)"/>
                        </clipPath>
                        </defs>
                        </svg>
                        
    
                    <div class="navLinkClass">
                        <span>Forms to</span>
                        <span>Complete</span>
                    </div>
                </a>
                <a href="#" class="">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1382_731)">
                    <path d="M5 20C5 21.9698 5.38799 23.9204 6.14181 25.7403C6.89563 27.5601 8.00052 29.2137 9.3934 30.6066C10.7863 31.9995 12.4399 33.1044 14.2597 33.8582C16.0796 34.612 18.0302 35 20 35C21.9698 35 23.9204 34.612 25.7403 33.8582C27.5601 33.1044 29.2137 31.9995 30.6066 30.6066C31.9995 29.2137 33.1044 27.5601 33.8582 25.7403C34.612 23.9204 35 21.9698 35 20C35 18.0302 34.612 16.0796 33.8582 14.2597C33.1044 12.4399 31.9995 10.7863 30.6066 9.3934C29.2137 8.00052 27.5601 6.89563 25.7403 6.14181C23.9204 5.38799 21.9698 5 20 5C18.0302 5 16.0796 5.38799 14.2597 6.14181C12.4399 6.89563 10.7863 8.00052 9.3934 9.3934C8.00052 10.7863 6.89563 12.4399 6.14181 14.2597C5.38799 16.0796 5 18.0302 5 20Z" stroke="#257CC7" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M20 20H25.8333" stroke="#257CC7" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M20 11.6667V20" stroke="#257CC7" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_1382_731">
                    <rect width="40" height="40" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
    
                    <div class="navLinkClass">
                        <span>Clinical</span>
                        <span>Screening Dues</span>
                    </div>
                </a>
                <a href="#" class="">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1382_734)">
                    <path d="M15 5H25" stroke="#257CC7" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M16.6667 15H23.3334" stroke="#257CC7" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M16.6667 5V15L10 33.3333C9.91959 33.4951 9.87784 33.6733 9.87805 33.854C9.87826 34.0347 9.92043 34.2128 10.0012 34.3744C10.082 34.536 10.1992 34.6766 10.3436 34.7852C10.488 34.8937 10.6557 34.9673 10.8333 35H29.1667C29.3443 34.9673 29.512 34.8937 29.6564 34.7852C29.8008 34.6766 29.918 34.536 29.9988 34.3744C30.0796 34.2128 30.1217 34.0347 30.122 33.854C30.1222 33.6733 30.0804 33.4951 30 33.3333L23.3333 15V5" stroke="#257CC7" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_1382_734">
                    <rect width="40" height="40" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                    <div class="navLinkClass">
                        <span>Lab</span>
                        <span>Results</span>
                    </div>
                </a>
                <a href="#" class="">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1382_737)">
                    <path d="M15 8.33333H11.6667C10.7827 8.33333 9.93481 8.68452 9.30968 9.30964C8.68456 9.93476 8.33337 10.7826 8.33337 11.6667V31.6667C8.33337 32.5507 8.68456 33.3986 9.30968 34.0237C9.93481 34.6488 10.7827 35 11.6667 35H28.3334C29.2174 35 30.0653 34.6488 30.6904 34.0237C31.3155 33.3986 31.6667 32.5507 31.6667 31.6667V11.6667C31.6667 10.7826 31.3155 9.93476 30.6904 9.30964C30.0653 8.68452 29.2174 8.33333 28.3334 8.33333H25" stroke="#257CC7" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M15 8.33333C15 7.44928 15.3512 6.60143 15.9763 5.97631C16.6014 5.35119 17.4493 5 18.3333 5H21.6667C22.5507 5 23.3986 5.35119 24.0237 5.97631C24.6488 6.60143 25 7.44928 25 8.33333C25 9.21739 24.6488 10.0652 24.0237 10.6904C23.3986 11.3155 22.5507 11.6667 21.6667 11.6667H18.3333C17.4493 11.6667 16.6014 11.3155 15.9763 10.6904C15.3512 10.0652 15 9.21739 15 8.33333Z" stroke="#257CC7" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M15 20H25" stroke="#257CC7" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M15 26.6667H25" stroke="#257CC7" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_1382_737">
                    <rect width="40" height="40" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                    <div class="navLinkClass">
                        <span>Request</span>
                        <span>Rx Refill</span>
                    </div>
                </a>
            </div>

        </nav>
        <section class="container" id="container">
            <div class="welcome__row">
                <h1 class="welcome">View and Complete Forms</h1>
                <a href="../index.html">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_1409_2305)">
                        <path d="M5 12H3L12 3L21 12H19" stroke="#257CC7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M5 12V19C5 19.5304 5.21071 20.0391 5.58579 20.4142C5.96086 20.7893 6.46957 21 7 21H17C17.5304 21 18.0391 20.7893 18.4142 20.4142C18.7893 20.0391 19 19.5304 19 19V12" stroke="#257CC7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M9 21V15C9 14.4696 9.21071 13.9609 9.58579 13.5858C9.96086 13.2107 10.4696 13 11 13H13C13.5304 13 14.0391 13.2107 14.4142 13.5858C14.7893 13.9609 15 14.4696 15 15V21" stroke="#257CC7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_1409_2305">
                        <rect width="24" height="24" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                </a>
            </div>

            <div class="tabs formsToCompleteTabs">
                <div class="tab-header">
                    <button class="tab-button" ng-repeat="tab in tabsList" ng-class="{ active: activeTab == $index}"
                        ng-click="setActiveTab($index, false)">
                        <span class="title">{{tab.title}}</span>
                    </button>
                    
                    <div class="dropdownTabsClass">
                        <svg class="dropdown-icon" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.78061 11.25L5.12207 7.5H12.4391L8.78061 11.25Z" fill="#1D1B20"/>
                        </svg>
                            
                        <select class="tab-dropdown" 
                                ng-class="{ active: tabsList[activeTabDropdown]}"
                                ng-model="activeTabDropdown" 
                                ng-change="setActiveTab(activeTabDropdown, true)" 
                                ng-options="index as tab.title for (index, tab) in tabsList">
                        </select>
                    </div>
                </div>
                
                <div class="tab-content" ng-show="activeTab == 0">
                    <div class="tab-content-body">
                        <div class="provider search_easyforms">
                            <div class="search inputFieldsClass">
                                <i class="ri-search-line"></i>
                                <input type="text" placeholder="Search Easy Form Name" id="" name="">
                            </div>
                            <button class="goBtn" id="" name="" ng-click="searchEasyFormName()"
                                ng-enter="searchEasyFormName()">Go</button>
                        </div>
                        <div class="cards">
                            <div class="formsToCompleteCardBlock" ng-repeat="item in listData" ng-class="item.status == 'DRAFT' ? 'formsToCompleteCardActiveBlock' : ''">
                                <div class="card_left_block">
                                    <svg width="60" height="60" viewBox="0 0 60 60" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_1134_1516)">
                                            <path
                                                d="M35 7.5V17.5C35 18.163 35.2634 18.7989 35.7322 19.2678C36.2011 19.7366 36.837 20 37.5 20H47.5"
                                                stroke="#257CC7" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path
                                                d="M42.5 52.5H17.5C16.1739 52.5 14.9021 51.9732 13.9645 51.0355C13.0268 50.0979 12.5 48.8261 12.5 47.5V12.5C12.5 11.1739 13.0268 9.90215 13.9645 8.96447C14.9021 8.02678 16.1739 7.5 17.5 7.5H35L47.5 20V47.5C47.5 48.8261 46.9732 50.0979 46.0355 51.0355C45.0979 51.9732 43.8261 52.5 42.5 52.5Z"
                                                stroke="#257CC7" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_1134_1516">
                                                <rect width="60" height="60" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    <div class="right_content">
                                        <strong>{{item.id}}</strong>
                                        <small ng-class="item.status == 'DRAFT' ? 'active' : ''">{{item.status}}</small>
                                    </div>
                                </div>
                                <div class="card_right_block">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_1134_1524)">
                                            <path
                                                d="M2 8C2 8.78793 2.15519 9.56815 2.45672 10.2961C2.75825 11.0241 3.20021 11.6855 3.75736 12.2426C4.31451 12.7998 4.97595 13.2417 5.7039 13.5433C6.43185 13.8448 7.21207 14 8 14C8.78793 14 9.56815 13.8448 10.2961 13.5433C11.0241 13.2417 11.6855 12.7998 12.2426 12.2426C12.7998 11.6855 13.2417 11.0241 13.5433 10.2961C13.8448 9.56815 14 8.78793 14 8C14 7.21207 13.8448 6.43185 13.5433 5.7039C13.2417 4.97595 12.7998 4.31451 12.2426 3.75736C11.6855 3.20021 11.0241 2.75825 10.2961 2.45672C9.56815 2.15519 8.78793 2 8 2C7.21207 2 6.43185 2.15519 5.7039 2.45672C4.97595 2.75825 4.31451 3.20021 3.75736 3.75736C3.20021 4.31451 2.75825 4.97595 2.45672 5.7039C2.15519 6.43185 2 7.21207 2 8Z"
                                                stroke="#1E1E1E" stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M8 8H10.3333" stroke="#1E1E1E" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path d="M8 4.66669V8.00002" stroke="#1E1E1E" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_1134_1524">
                                                <rect width="16" height="16" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    <span class="timeStampClass">{{item.timestamp}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content" ng-show="activeTab == 1">
                    <div class="tab-content-body">
                        <div class="provider search_easyforms">
                            <div class="search inputFieldsClass">
                                <i class="ri-search-line"></i>
                                <input type="text" placeholder="Search Easy Form Name" id="" name="">
                            </div>
                            <button class="goBtn" id="" name="" ng-click="searchEasyFormName()"
                                ng-enter="searchEasyFormName()">Go</button>
                        </div>
                        <div class="cards">
                            <div class="formsToCompleteCardBlock" ng-repeat="item in listData" ng-class="item.status == 'DRAFT' ? 'formsToCompleteCardActiveBlock' : ''" ng-click="searchSurveyTherapyInfoEasyFormName()">
                                <div class="card_left_block">
                                    <svg width="60" height="60" viewBox="0 0 60 60" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_1134_1516)">
                                            <path
                                                d="M35 7.5V17.5C35 18.163 35.2634 18.7989 35.7322 19.2678C36.2011 19.7366 36.837 20 37.5 20H47.5"
                                                stroke="#257CC7" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path
                                                d="M42.5 52.5H17.5C16.1739 52.5 14.9021 51.9732 13.9645 51.0355C13.0268 50.0979 12.5 48.8261 12.5 47.5V12.5C12.5 11.1739 13.0268 9.90215 13.9645 8.96447C14.9021 8.02678 16.1739 7.5 17.5 7.5H35L47.5 20V47.5C47.5 48.8261 46.9732 50.0979 46.0355 51.0355C45.0979 51.9732 43.8261 52.5 42.5 52.5Z"
                                                stroke="#257CC7" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_1134_1516">
                                                <rect width="60" height="60" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    <div class="right_content">
                                        <strong>{{item.id}}</strong>
                                        <small ng-class="item.status == 'DRAFT' ? 'active' : ''">{{item.status}}</small>
                                    </div>
                                </div>
                                <div class="card_right_block" ng-show="item.id == 1000060">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_1134_1524)">
                                            <path
                                                d="M2 8C2 8.78793 2.15519 9.56815 2.45672 10.2961C2.75825 11.0241 3.20021 11.6855 3.75736 12.2426C4.31451 12.7998 4.97595 13.2417 5.7039 13.5433C6.43185 13.8448 7.21207 14 8 14C8.78793 14 9.56815 13.8448 10.2961 13.5433C11.0241 13.2417 11.6855 12.7998 12.2426 12.2426C12.7998 11.6855 13.2417 11.0241 13.5433 10.2961C13.8448 9.56815 14 8.78793 14 8C14 7.21207 13.8448 6.43185 13.5433 5.7039C13.2417 4.97595 12.7998 4.31451 12.2426 3.75736C11.6855 3.20021 11.0241 2.75825 10.2961 2.45672C9.56815 2.15519 8.78793 2 8 2C7.21207 2 6.43185 2.15519 5.7039 2.45672C4.97595 2.75825 4.31451 3.20021 3.75736 3.75736C3.20021 4.31451 2.75825 4.97595 2.45672 5.7039C2.15519 6.43185 2 7.21207 2 8Z"
                                                stroke="#1E1E1E" stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M8 8H10.3333" stroke="#1E1E1E" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path d="M8 4.66669V8.00002" stroke="#1E1E1E" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_1134_1524">
                                                <rect width="16" height="16" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    <span class="timeStampClass">{{item.timestamp}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content" ng-show="activeTab == 2">
                    <div class="tab-content-body">
                        <div class="provider search_easyforms">
                            <div class="dropdownClass search inputFieldsClass">
                                <!-- <span class="dropdown-icon">&#9660</span> -->
                                <svg class="dropdown-icon" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.78061 11.25L5.12207 7.5H12.4391L8.78061 11.25Z" fill="#1D1B20"/>
                                </svg>
                                    
                                <select ng-model="selectedOption" ng-options="option for option in options"
                                    class="dropdown-select formToCosignDropdownTextClass">
                                </select>
                            </div>
                            <div class="search inputFieldsClass">
                                <i class="ri-search-line"></i>
                                <input type="text" placeholder="Search Easy Form Name" id="" name="">
                            </div>
                            <button class="goBtn" id="" name="" ng-click="searchEasyFormName()"
                                ng-enter="searchEasyFormName()">Go</button>
                        </div>
                        <div class="cards">
                            <div class="formsToCompleteCardBlock" ng-repeat="item in listPdfData" ng-class="item.status == 'DRAFT' ? 'formsToCompleteCardActiveBlock' : ''">
                                <div class="card_left_block">
                                    <svg width="60" height="60" viewBox="0 0 60 60" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_1134_1516)">
                                            <path
                                                d="M35 7.5V17.5C35 18.163 35.2634 18.7989 35.7322 19.2678C36.2011 19.7366 36.837 20 37.5 20H47.5"
                                                stroke="#257CC7" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path
                                                d="M42.5 52.5H17.5C16.1739 52.5 14.9021 51.9732 13.9645 51.0355C13.0268 50.0979 12.5 48.8261 12.5 47.5V12.5C12.5 11.1739 13.0268 9.90215 13.9645 8.96447C14.9021 8.02678 16.1739 7.5 17.5 7.5H35L47.5 20V47.5C47.5 48.8261 46.9732 50.0979 46.0355 51.0355C45.0979 51.9732 43.8261 52.5 42.5 52.5Z"
                                                stroke="#257CC7" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_1134_1516">
                                                <rect width="60" height="60" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    <div class="right_content">
                                        <strong>{{item.pdf}}</strong>
                                        <!-- <small>{{item.status}}</small> -->
                                    </div>
                                </div>
                                <div class="card_right_block">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_1134_1524)">
                                            <path
                                                d="M2 8C2 8.78793 2.15519 9.56815 2.45672 10.2961C2.75825 11.0241 3.20021 11.6855 3.75736 12.2426C4.31451 12.7998 4.97595 13.2417 5.7039 13.5433C6.43185 13.8448 7.21207 14 8 14C8.78793 14 9.56815 13.8448 10.2961 13.5433C11.0241 13.2417 11.6855 12.7998 12.2426 12.2426C12.7998 11.6855 13.2417 11.0241 13.5433 10.2961C13.8448 9.56815 14 8.78793 14 8C14 7.21207 13.8448 6.43185 13.5433 5.7039C13.2417 4.97595 12.7998 4.31451 12.2426 3.75736C11.6855 3.20021 11.0241 2.75825 10.2961 2.45672C9.56815 2.15519 8.78793 2 8 2C7.21207 2 6.43185 2.15519 5.7039 2.45672C4.97595 2.75825 4.31451 3.20021 3.75736 3.75736C3.20021 4.31451 2.75825 4.97595 2.45672 5.7039C2.15519 6.43185 2 7.21207 2 8Z"
                                                stroke="#1E1E1E" stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M8 8H10.3333" stroke="#1E1E1E" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path d="M8 4.66669V8.00002" stroke="#1E1E1E" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_1134_1524">
                                                <rect width="16" height="16" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    <span class="timeStampClass">{{item.timestamp}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portalCommonButtonsBlock">
                <button class="portalCommonEmptyBtnClass" ng-bind="portalBackAndCancelBtnBind" ></button>
                <button class="portalCommonFillBtnClass" ng-bind="portalNextAndEditBtnBind" ng-show="portalNextAndEditBtnBindShowHide" ng-click="portalCommonNextAndEditClick()"></button>
            </div>


        </section>

        <div class="dialog-backdrop" ng-class="{'open': isDialogOpen}" ng-click="closeDialog()"></div>
        <div class="menu-dialog" ng-class="{'open': isDialogOpen}">
            <span class="close-dialog" ng-click="closeDialog()">
                <i class="ri-close-large-fill"></i> <span>Close</span>
            </span>
            <div class="menu-links">
                <a href="#">
                    <span class="icon"><i class="ri-calendar-line"></i></span>
                    <span class="text">All Appointments</span>
                </a>
                <a href="#">
                    <span class="icon"><i class="ri-calendar-event-line"></i></i></span>
                    <span class="text">Book New Appointment</span>
                </a>
                <a href="#">
                    <span class="icon"><i class="ri-file-3-line"></i></span>
                    <span class="text">Documents</span>
                </a>
                <a href="#">
                    <span class="icon"><i class="ri-shield-line"></i></span>
                    <span class="text">Insurance Policies</span>
                </a>
                <a href="../MyPersonalDetails/MyPersonalDetails.html">
                    <span class="icon"><i class="ri-survey-line"></i></span>
                    <span class="text">My Personal Details</span>
                </a>
                <a href="../MyResultsAndOrders/MyResultsAndOrder.html">
                    <span class="icon"><i class="ri-survey-line"></i></span>
                    <span class="text">My Results and Orders</span>
                </a>
                <a href="./formsToComplete.html">
                    <span class="icon"><i class="ri-survey-line"></i></span>
                    <span class="text">Forms to Complete</span>
                </a>
                <a href="#">
                    <span class="icon"><i class="ri-bank-card-line"></i></span>
                    <span class="text">Credit Cards</span>
                </a>
                <a href="#">
                    <span class="icon"><i class="ri-chat-1-line"></i></span>
                    <span class="text">Messages</span>
                </a>
                <a href="#">
                    <span class="icon"><i class="ri-checkbox-multiple-line"></i></span>
                    <span class="text">Patient Choices</span>
                </a>
                <a href="#">
                    <span class="icon"><i class="ri-contacts-line"></i></span>
                    <span class="text">Contacts</span>
                </a>
                <a href="#">
                    <span class="icon"><i class="ri-feedback-line"></i></span>
                    <span class="text">My Complaints</span>
                </a>
                <a href="#">
                    <span class="icon"><i class="ri-money-dollar-circle-line"></i></span>
                    <span class="text">Billing</span>
                </a>
                <a href="#">
                    <span class="icon"><i class="ri-folder-user-line"></i></span>
                    <span class="text">Demographics</span>
                </a>
                <a href="#">
                    <span class="icon"><i class="ri-bill-line"></i></span>
                    <span class="text">Ledger</span>
                </a>
                <a href="../ViewandUploadDocs/ViewandUploadDocs.html">
                    <span class="icon"><i class="ri-upload-cloud-line"></i></span>
                    <span class="text">Upload Documents</span>
                </a>
                <a href="#">
                    <span class="icon"><i class="ri-capsule-fill"></i></span>
                    <span class="text">Current Medicines</span>
                </a>
                <a href="#">
                    <span class="icon"><i class="ri-video-on-line"></i></span>
                    <span class="text">Zoom Meetings</span>
                </a>
            </div>
        </div>

        <div class="therapyInfoDialogDefaultClass" ng-class="{'therapyInfoDialogClass': isTherapyInfoDialogOpen}">
            <div class="declinedToReasonHeaderClass">
                <label class="declinedToReasonHeaderTitleClass">Select Program / Therapy Information </label>
                <div ng-click="portalCommonNextAndEditClick()">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_1409_3453)">
                        <path d="M18 6L6 18" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6 6L18 18" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_1409_3453">
                        <rect width="24" height="24" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                </div>
            </div>
            <div class="declinedToReasonBodyClass">
                <div class="provider search_easyforms">
                    <div class="dropdownClass search inputFieldsClass">
                        <svg class="dropdown-icon" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.78061 11.25L5.12207 7.5H12.4391L8.78061 11.25Z" fill="#1D1B20"/>
                        </svg>
                            
                        <select ng-model="selectedOption" ng-options="option for option in options"
                            class="dropdown-select">
                        </select>
                    </div>
                    <div class="search inputFieldsClass">
                        <i class="ri-search-line"></i>
                        <input type="text" placeholder="Search Easy Form Name" id="" name="">
                    </div>
                    <div class="search inputFieldsClass">
                        <i class="ri-search-line"></i>
                        <input type="text" placeholder="Search Easy Form Name" id="" name="">
                    </div>
                    <button class="portalCommonPrintBtnClass" id="" name="" ng-click="searchSurveyTherapyInfoEasyFormName()"
                        ng-enter="searchSurveyTherapyInfoEasyFormName()">Go</button>
                </div>
                <div class="easyFormsViewClass">
                    <div class="easyFormsViewTableClass">
                        <h2>Data will show here</h2>
                    </div>
                </div>
            </div>
            <div class="declinedToReasonButtonBlockClass">
                <button class="portalCommonPrintBtnClass" ng-click="portalCommonNextAndEditClick()">Cancel</button>
            </div>
        </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js" type="text/javascript"></script>
    <script src="../app.js"></script>
    <script src="./formsToComplete.js" type="text/javascript"></script>
</body>

</html>