.headerClass {
    display: flex;
    justify-content: space-between;
    height: auto !important;
    padding-top: 16px;
    padding-bottom: 16px;

    .profileSwitchButton {
        h5 {
            color: #257CC7;
            font-family: Manrope;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        h6 {
            color: #1E1E1E;
            font-family: Manrope;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
    }
}

.logoutBtnClass {
    outline: none;
    border: none;
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #257CC7;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(223, 223, 223, 0.25);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    /* 16px */
}

#formsToCompleteId {
    position: relative;

    .desktop {
        gap: 56px;
        padding: 16px 32px !important;
        padding-top: 24px !important;
        padding-bottom: 20px !important;
    }
    .welcome__row {
        padding-top: 16px !important;
        padding: 32px;
        padding-bottom: 0px !important;
    }

    .navLinkMenuClass {
        line-height: normal !important;
    }

    .navLinksMainClass a {
        padding: 0px !important;
    }


    #container {
        row-gap: 35px;
        padding: 0px !important;

        .welcome {
            margin: 0px !important;
        }

        /* Tabs container */
        .formsToCompleteTabs {
            display: flex;
            flex-direction: column;
            row-gap: 33px;
            padding: 0px 32px;
            flex: 1;

            /* Tab headers */
            .tab-header {
                display: flex;
                border-bottom: 1px solid #E6E6E6;
                gap: 32px;
            }

            .tab-button {
                padding: 15px 0px;
                padding-top: 0px !important;
                text-align: center;
                cursor: pointer;
                border: none;
                outline: none;
                color: #A1A1A1;
                font-family: Manrope;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                background-color: transparent;
            }

            .tab-button:last-child {
                border-right: none;
            }

            .tab-button.active {
                color: #64108C;
                position: relative;
                font-family: Manrope;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }

            .tab-button.active::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 3px;
                background-color: #64108C;
                left: 0px;
                bottom: -1px;
                border-radius: 3px;
            }

            .tab-dropdown {
                display: none;
                flex: 1;
            }

            .tab-content.ng-hide {
                display: none !important;
            }

            .tab-content {
                border: none !important;
                padding: 0px !important;
                flex: 1;

                .tab-content-body {
                    display: flex;
                    flex-direction: column;
                    row-gap: 15px;

                    .goBtn {
                        border: 1px solid #64108C;
                        border-radius: 4px;
                        background-color: transparent;
                        padding: 12px 24px;
                        cursor: pointer;
                        color: #64108C;
                        text-align: center;
                        font-family: Manrope;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }

                    .search_easyforms {
                        display: flex;
                        flex-direction: row !important;
                        justify-content: flex-start !important;
                        flex-wrap: wrap;
                        gap: 16px;
                    }
                }
            }
        }
    }

}

.card_left_block {
    display: flex;
    align-items: center;
    flex: 1;
    .right_content_Style_Class{
        color: #227CC7;
        font-family: Manrope;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .right_content {
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-family: Manrope;
        align-items: flex-start;
        strong {
            color: #002265;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        small {
            display: inline-flex;
            padding: 4px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            color: #A1A1A1;
            font-family: Manrope;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
            /* 14px */
            border-radius: 4px;
            background: #F7F7F7;
        }

        small.active {
            color: #257CC7 !important;
            background: #C7DEF1 !important;
        }
    }
}

.cards {
    gap: 14px !important;
    width: 100%;
    .formsToCompleteCardBlock {
        cursor: pointer;
        display: flex;
        flex: 1;
        min-height: auto;
        flex-direction: row;
        align-items: flex-end;
        flex-wrap: wrap;
        border-radius: 8px;
        background: #FFF;
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.10);
        min-width: min(100%, 800px) !important;
        padding-top: 13px;
        padding-left: 9px;
        padding-bottom: 12px;
        padding-right: 19px;
    }

    .formsToCompleteCardActiveBlock {
        border: 1px solid #227CC7;
    }

    .formsToCompleteCommetsCardBlock{
        border-radius: 8px;
        border: 1px solid #E6E6E6 !important;
        box-shadow: none !important;
        padding: 16px 15px 16px 15px !important;
        width: 100%;
        row-gap: 16px;
    }
}


.card_right_block {
    display: flex;
    align-items: center;
    gap: 5px;

    .timeStampClass {
        color: #1E1E1E;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.inputFieldsClass {
    flex: 1;
    /* max-width: 80%; */
    min-width: 225px;
    border-radius: 4px;
    border: 1px solid #E6E6E6;
    background: #FFF;
    padding-right: 0px !important;
    gap: 0px !important;

    .ri-search-line {
        padding: 16px;
    }

    input::placeholder {
        color: #1E1E1E;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        /* 14px */
    }

    select {
        padding: 16px;
    }

    input {
        padding-left: 0px !important;
        padding: 13px;
        border-radius: 4px;
    }
}

.dropdownClass {
    display: flex;
    position: relative;
    flex: 1;
    align-items: center;
    border: 1px solid #257CC7 !important;

    /* padding: 11px 10px; */
    option {
        color: #1E1E1E;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        /* 16px */
    }
}

/* Icon styling */
.dropdown-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    color: var(--color-text-primary);
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    right: 10px;
}

/* Select styling */
.dropdown-select {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    background: transparent;
    cursor: pointer;
}

.dropdown-select option {
    padding: 5px;
}

.navLinksMainClass {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    gap: 56px;
}

.dropdownTabsClass {
    display: none;
}

@media (max-width: 1200px) {
    .navLinkMenuClass {
        display: none !important;
    }

    .desktop {
        justify-content: center !important;
    }
}

@media (max-width: 600px) {

    .dropdownTabsClass {
        flex: 1;
        display: flex;
        border-radius: 8px;
        background: #FFF;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);
        position: relative;

        svg {
            position: absolute;
            right: 15px;
            top: 13px;
        }

        select {
            flex: 1;
            padding: 10px 10.439px 11px 16px;
            border: none;
            font-family: Manrope;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        select.active {
            color: #64108C;
        }
    }

    .tab-button {
        display: none !important;
    }

    .tab-dropdown {
        display: block !important;
    }

    .formsToCompleteTabs {
        padding: 0px 16px !important;
        row-gap: 20px !important;
    }

    .container {
        gap: 28px !important;
    }

    .inputFieldsClass {
        max-width: none !important;
    }

    .formsToCompleteCardBlock {
        justify-content: flex-end;
    }

    .timeStampClass {
        font-size: 12px !important;
    }

    .profileSwitchButton {

        h6,
        h5 {
            display: none !important;
        }
    }

    .navLinkClass {
        font-size: 12px !important;
    }

    .ri-search-line {
        padding-right: 5px !important;
        padding-left: 10px !important;
    }

    #formsToCompleteId {
        .navLinksMainClass {
            gap: 32px;
            flex-wrap: wrap;

            svg {
                width: 24px !important;
                height: 24px !important;
            }
        }

        .desktop {
            padding: 16px 19px !important;
        }
        .welcome__row {
            padding: 16px !important;
        }
    }

    .easyFormsViewClass {
        padding: 0 16px !important;
    }
    .easyFormsViewTableClass{
        min-height: 180px !important;
    }
}

@media (max-width:400px) {
    .navLinksMainClass {
        gap: 20px !important;
    }
}


/* Easy forms Css */
.easyFormsViewClass {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 33px;
    justify-content: center;
    gap: 23px;
}
.easyFormsViewTableClass{
    color: gray;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    flex: 1;
    width: 100%;
    justify-content: center;
    min-height: 400px;
    text-align: center;
}
.formToCosignDropdownTextClass{
    color: #1E1E1E;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 16px */
}